<div class="container-fluid">
  <div class="container">
    <h6 class="text-center">
      “Švelni, spindinti oda – moteriškumo simbolis, vienas iš svarbiausių kūno
      puoselėjimo ritualų!“
    </h6>
    <hr />
    <div class="text-width">
      <h4 class="py-3 text-center">Depiliacija</h4>
      <p>
        Depiliacija vašku - tai vienas populiariausių būdų kovojant su
        nepageidaujamais plaukeliais. Depiliuoti galite tiek veidą, tiek kūną -
        kojas, rankas, pažastis, nugarą, bikini zoną. Depiliacijos vašku
        rezultatu galima džiaugtis net iki 4-6 savaičių. Depiliacijos vašku metu
        plaukeliai pašalinami su šaknimis, todėl atauga kur kas lėčiau. Jau po
        pirmojo vaškavimo, plauko folikulas susilpnėja, todėl nauji plaukeliai
        auga plonesni ir retesni. Išbandžiusios šią procedūrą vertina jos
        efektyvumą ir rezultatą, kuris išlieka kur kas ilgiau nei skutant
        plaukelius. <br />
        <br />
        Glotni oda be plaukelių - tai kiekvienos moters svajonė. O ypač atėjus
        vasarai mes visos norime turėti gražią ir lygią odą be plaukelių.
      </p>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6 text-center my-auto">
        <img
          src="../../../assets/service-images/wax-01.webp"
          alt=""
          width="350"
          height="450"
          class="image-one"
        />
      </div>
      <div class="col-md-6 text-width">
        <h4 class="mb-3 text-center">Kodėl verta rinktis depiliaciją vašku?</h4>

        <ul class="text-padding">
          <li>
            Vašku pašalinami net smulkūs ir ploni plaukeliai, todėl rezultatas
            visada maloniai nustebina. Tinka visoms kūno vietoms: kojų, rankų,
            bikini, veido, antakių plaukelių šalinimui.
          </li>
          <li>
            Depiliacija vašku tinka visų tipų odai, tik svarbu, atsižvelgiant į
            odos tipą, taip pat po procedūros ja tinkamai pasirūpinti.
          </li>
          <li>
            Vašku sėkmingai pašalinami tiek tamsūs, tiek šviesūs plaukeliai.
            Procedūra atliekama sparčiai, todėl labai patiks skubančioms, laiką
            stokojančioms moterims.
          </li>
          <li>
            Ilgalaikis rezultatas leidžia sutaupyti brangų laiką, bei ilgai
            džiaugtis glotnia, lygia oda.
          </li>
          <li>
            Procedūros metu plaukeliai pašalinami kartu su šaknimis, todėl
            pasiektas rezultatas išlieka 4-6 savaites.
          </li>
          <li>
            Nuolat kartojant procedūras plaukeliai atauga retesni, silpnesni,
            mažiau pastebimi ir juntami.
          </li>
          <li>Oda po depiliacijos tampa švelni ir lygi.</li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="text-width">
      <div class="row">
        <div class="col-md-6 my-auto">
          <h4 class="mb-3 text-center">Kokie būna vaško tipai?</h4>
          <p>
            Kietasis depiliacinis vaškas yra tąsesnis, ilgiau stingsta, todėl jį
            lengviau paskirstyti. Jis tinkamesnis jautrioms vietoms, ypač
            intymiai zonai, veidui, pažastims. Kietasis vaškas prilimpa prie
            plaukų, o ne prie odos, todėl plaukų šalinimas yra mažiau
            skausmingas. Padengus jį ant odos jis sukietėja ir jį galima
            pašalinti rankomis, nenaudojant juostelių.
            <br />
            <br />
            Minkštasis vaškas prilimpa tiek prie plaukelių, tiek prie odos,
            todėl sukelia kiek daugiau nepatogumo. Jam pašalinti būtina
            juostelė. Minkštasis vaškas dažniausiai naudojamas dideliuose
            plotuose – plaukams nuo kojų ar rankų, nugaros panaikinti.
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img
            src="../../../assets/service-images/wax-04.webp"
            alt=""
            width="350"
            height="450"
            class="image-one"
          />
        </div>
      </div>
    </div>

    <hr />
    <div class="text-width">
      <h4 class="mb-3 text-center">
        Kas kiek laiko turi būti daroma depiliacija?
      </h4>
      <p>
        Jei depiliacija Jums atliekama pirmą kartą, yra tikimybė, kad pirmųjų
        ataugusių plaukelių galite sulaukti ir jau trečiąją ar ketvirtąją
        savaitę. Atliekant procedūrą reguliariai rezultatais galėsite džiaugtis
        net iki 6 savaičių, o plaukeliai bus vis retesni, bei plonesni. Taigi,
        vidutiniškai laikotarpis yra 4 -6savaitės, priklausomai nuo Jūsų
        individualių savybių.
      </p>
    </div>
    <hr />
    <div class="text-width">
      <h4 class="mb-3 text-center">Ar depiliacija vašku skausminga?</h4>
      <p>
        Kiekvieno žmogaus skausmo slenkstis yra skirtingas. Reikia turėti
        omenyje, kad plaukeliai išraunami su šaknimis tam, kad depiliaciją būtų
        galima atlikti žymiai rečiau. Atliekant depiliaciją vašku reguliariai,
        diskomfortas akivaizdžiai mažėja, nes silpsta plaukelių folikulas.
        Atliekant depiliaciją meistrė visada stengiasi pasirūpinti, kad klientė
        jaustųsi kaip įmanoma komfortabiliau. Kuo didesnis komfortas, tuo
        mažesnis skausmas jaučiamas.
      </p>
    </div>
    <hr />
    <div class="text-width">
      <h4 class="mb-3 text-center">
        Kada nerekomenduojama atlikti depiliacijos vašku?
      </h4>
      <p>
        Depiliacija vašku nerekomenduojama jei per pastarąją savaitę buvo
        atliktas rūgštinis valymas, arba per pastarąsias 36 valandas naudojote
        retinolį arba kitas rūgštis, pavyzdžiui, glikolio. Šalinti plaukų vašku
        taip pat nerekomenduojama jei Jums nustatytas herpesas, oda yra
        nudegusi, ar planuojamoje depiliuoti vietoje yra apgamų, karpų.
        Depiliuoti negalima, jei oda atrodo traumuota, yra venų varikozės
        požymių, nustatyta aknė, ar yra bet kokio tipo dermatito požymių.
        Procedūros su vašku nerekomenduojamos sergantiems diabetu, kurie kenčia
        nuo kraujotakos sutrikimų arba yra linkę į uždegimus. Šis depiliacijos
        būdas netinkamas chemoterapijos ir radioterapijos pacientams.
      </p>
    </div>
    <hr />
    <div class="text-width">
      <h4 class="mb-3 text-center">
        Rekomendacijos prieš depiliacijos procedūrą
      </h4>
      <ul class="text-padding">
        <li>
          Prieš procedūrą rekomenduojama tinkamai nušveisti odą. Šveitimą
          rekomenduojama daryti likus kelioms dienoms iki depiliacijos
          procedūros. Tokiu būdu bus pašalinamos negyvos odos ląstelės, bei
          išvengsite plaukelių įaugimo. Šveitimas taip pat pagerina kraujotaką,
          stangrina odą, skatina regeneraciją. Svarbiausia, odą reikia šveisti
          labai švelniai, kad ji neparaudonuotų.
        </li>
        <br />
        <li>
          Depiliuojamos kūno vietos turi būti su plaukeliais, kurie siektų apie
          3-4 milimetrus, taip užsitikrinsite, jog depiliacinis vaškas tikrai
          suims plaukelį ir jį išraus su šaknimi. Ilgesni plaukeliai prieš
          procedūrą turi būti patrumpinami bent iki 5 mm.
        </li>
        <br />
        <li>
          Nerekomenduojama gerti kavos ar alkoholio prieš depiliaciją, kad
          nepadidėtų jautrumas. Taip pat geriau atidėkite depiliaciją, jei Jums
          tuo metu menstruacijos, nes bus padidėjas jautrumas. Depiliacijos
          dieną nenaudokite kremų ar aliejų.
        </li>
        <br />
        <li>
          Verta žinoti, jog jei oda labai sausa, pleiskanoja, tuomet
          depiliacijos procedūra nebus itin tinkama. Tuomet reikėtų daugiau
          dėmesio skirti odos drėkinimui ir maitinimui, nes tai rodo, jog odos
          būklė nėra labai gera.
        </li>
      </ul>
    </div>

    <hr />
    <div class="text-width pb-5">
      <h4 class="mb-3 text-center">Odos priežiūra po depiliacijos</h4>

      <ul>
        <li>
          Maudymasis po dušu. 2-3 valandas po depiliacijos patariama nesimaudyti
          ir nedrėkinti vandeniu vietų, kuriose buvo šalinami plaukeliai.
        </li>
        <br />
        <li>
          Tiesioginiai saulės spinduliai ir soliariumas. 48val.venkite
          tiesioginių saulės spindulių - nesideginkite, arba naudokite apsaugą
          nuo saulės. Taip pat nesinaudokite soliariumų paslaugomis ir
          savaiminio įdegio kremais.
        </li>
        <br />
        <li>
          Drėkinimas. Įprastai sudirgimas nuslūgsta po kelių valandų. Po
          depiliacijos odą reikia tinkamai drėkinti. Tam puikiai tinka aliejai,
          losjonai, kuriuose gausu raminamųjų medžiagų. Jos ne tik mažina
          paraudimą, bet ir papildomai pamaitina odą. Rekomenduojama naudoti
          produktą su arbatmedžių aliejumi, kuris ramins, puoselės ir
          dezinfekuos odą. Jei tokių priemonių neturite, ir nuspręsite naudoti
          paprastą kremą, atkreipkite dėmesį į sudėtį, jis turi būti be
          alkoholio.
        </li>
        <br />
        <li>
          SPA procedūros ir pirtis. Po depiliacijos galima mėgautis SPA
          procedūromis, tačiau patartina jų metu naudoti natūralias medžiagas,
          tokias kaip gydomasis purvas. Pirties, ypač karštos, siūloma
          atsisakyti. Jei Jums buvo atlikta bikini zonos ar kitų jautrių vietų
          depiliacija, po pirties jos gali parausti ir net atsirasti nedideli
          bėrimai.
        </li>
        <br />
        <li>
          Drabužiai iš natūralių medžiagų. Rekomenduojama pora dienų dėvėti
          natūralaus pluošto drabužius. Puikiai tinka medvilnė, šilkas. Jei buvo
          atlikta bikini zonos depiliacija, venkite poliesterio, nes oda
          nekvėpuos ir gali prasidėti uždegiminė reakcija. Jei depiliavote kojas
          - rekomenduojama nedėvėti pėdkelnių.
        </li>
        <br />
        <li>
          Šveitimas. Odos šveitimas po procedūros yra būtinas tam, kad
          sukontroliuotume įauginėjančius plaukelius. Tik neskubėkite šveisti su
          agresyviu šveitikliu iškart po procedūros. Leiskite kelias dienas po
          depiliacijos savo odai “pailsėti” . Šveitimas rekomenduojamas maždaug
          dvi, tris dienas po procedūros, ir netgi po to tai darykite švelniai.
        </li>
      </ul>
    </div>
  </div>
</div>
