<div class="background-img"></div>
<div class="container-fluid">
  <div class="container pt-5">
    <h2>Paslaugos</h2>

    <div class="row">
      <div class="col-sm-6">
        <a routerLink="ilgalaikis-makiažas">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/Ilgalaikis-makiazas-small.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Ilgalaikis Makiažas</h5>
              <p class="card-text">
                Antakiai yra viena svarbiausių veido bruožų detalių, kuri
                įrėmina veidą atskleisdami gražiausius jo bruožus.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a routerLink="antakių-dažymas">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/antakiai.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Antakių Dažymas ir Korekcija</h5>
              <p class="card-text">
                Kai tobuliems antakiams trūksta tiek nedaug!
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6">
        <a routerLink="blakstienų-priauginimas">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/Blakstienu-priauginimas-small.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Blakstienų Priauginimas</h5>
              <p class="card-text">
                Kiekvienas blakstienų priauginimas yra tarsi akies menas,
                leidžiantis kurti skirtingus įvaizdžius.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a routerLink="depiliacija">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/Depiliacija-small.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Depiliacija</h5>
              <p class="card-text">
                Švelni, spindinti oda – moteriškumo simbolis, vienas iš
                svarbiausių kūno puoselėjimo ritualų!
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a routerLink="blakstienų-laminavimas">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/blakstienu-laminavimas.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Blakstienų Laminavimas</h5>
              <p class="card-text">
                Blakstienų laminavimas yra sparčiai išpopuliarėjusi procedūra,
                kuri tinka visoms klientėms vertinančioms natūralumą, kurios
                nori išraiškingesnių akių nenaudojant priaugintų blakstienų.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 pb-5">
        <a routerLink="antakių-laminavimas">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/antakiai-laminavimas.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Antakių Laminavimas</h5>
              <p class="card-text">
                Antakių laminavimas - tai procedūra, kurios metu antakių
                plaukeliai yra ištiesinami, sudėliojami norima kryptimi,
                užfiksuojami, nudažomi, bei prisotinami vitaminais ir
                mikroelementais.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 pb-5">
        <a routerLink="Ilgalaikio-šalinimas">
          <div class="card mb-3">
            <img
              src="../../assets/service-images/pm-removal.webp"
              class="card-img-top permanent-removal-image"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                Ilgalaikio/ Permanentinio makiažo šalinimas
              </h5>
              <p class="card-text">
                Ilgalaikio makiažo šalinimo procedūra atliekama norint pašalinti
                seną ar nekokybišką ilgalaikį/ permanentinį makiažą.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 pb-5">
        <a routerLink="dovanų-kuponas">
          <div class="card mb-3">
            <img
              src="../../assets/gift-voucher/gift-voucher-small.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Dovanų Kuponas</h5>
              <p class="card-text">Ieškote dovanos ypatingam žmogui?</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
