<div class="container-fluid">
  <div class="container">
    <div class="text-width">
      <h4 class="text-center mb-3">
        Ilgalaikio/ Permanentinio makiažo šalinimas
      </h4>
      <p>
        Ilgalaikio makiažo šalinimo procedūra atliekama norint pašalinti seną ar
        nekokybišką ilgalaikį/ permanentinį makiažą. <br /><br />
        Ilgalaikio makiažo šalinimas specialiomis šalinimo priemonėmis
        atliekamas Permanentinio makiažo aparatu, skverbiantis į odą su tirpalu,
        kurio pagrindas sudarytas iš druskų. Procedūros metu aparatu švelniai
        pažeidžiama oda ir adatėlės pagalba į viršutinį odos sluoksnį vietoje
        pigmento yra įvedama valančioji medžiaga. Valančioji medžiaga skatina
        pigmento išstūmimą iš odos.
        <br /><br />
        Naudojamas REMOVAL-S preparatas yra ypatingas savo sudėtimi,
        nerūgštinis, netraumuoja odos, todėl yra visiškai saugus naudoti.
        <br /><br />
        Druskos pagrindo priemonė skatina išstumti pigmentą gijimo metu.
        Procedūros metu jaučiamas minimalus diskomfortas. Po šalinimo procedūros
        oda labai greitai nurimsta ir atrodo estetiškai. Piešinys būna šiek tiek
        pabalęs nuo naudotos priemonės, galimas lengvas odos paraudimas.
        <br /><br />
        Gijimo metu nejausite skausmo, odai atsinaujinti prireiks vienos
        savaitės, kurios metu nusilups nedideli šašeliai. Sesijas rekomenduojama
        atlikti periodiškai, kas 6-8 savaites, priklausomaoi nuo odos tipo, bei
        gebėjimo gyti. Paprastai spalva pasišalina po 2-5 procedūrų, tačiau tai
        yra labai individualu.
        <br /><br />
        Galutinis rezultatas priklauso nuo daugelio faktorių, t.y. nuo esamo
        pigmento intensyvumo, kaip giliai jis buvo įvestas į odą, individualių
        savybių ( tokių kaip odos tipas, kasdieninė odos priežiūra, amžius, ir
        kitų savybių).
        <br /><br />
        REMOVAL-S metodo esmė – kokybiškas ir efektyvus rezultato pasiekimas per
        maksimaliai trumpą laiką netraumuojant odos.
      </p>
      <p>
        Procedūros trukmė: Ilgalaikio makiažo šalinimo procedūra trunka apie
        1val.
      </p>
    </div>
    <hr />
    <div class="text-width">
      <h4 class="text-center mb-3">Pasiruošimas prieš procedūrą</h4>
      <ul>
        <li>
          1 mėnesį iki procedūros nerekomenduojame atlikti mezoterapijos,
          biorevitalzacijos, veido šveitimo rūgščių, veido valymo, veido plaukų
          šalinimo, kapiliarų šalinimo lazeriu procedūrų;
        </li>
        <li>
          Jei esate atlikę botokso ar kitas injekcijas, rekomenduojame
          mažiausiai išlaukti 1 mėnesį prieš atliekant šalinimo procedūrą;
        </li>
        <li>
          7 dienas prieš procedūrą venkite tiesioginių saulės spindulių , taip
          pat nerekomenduojama lankytis soliariume;
        </li>
        <li>
          1 dieną prieš procedūrą nevartokite alkoholio, kavos, stiprios
          arbatos, kraujo krešėjimą mažinančių vaistų;
        </li>
        <li>1 dieną prieš procedūrą venkite aštraus ir sunkaus maisto;</li>
        <li>
          1 dieną prieš procedūrą nevartokite aspirino, vitamino E, niacino,
          Ibuprofeno.
        </li>
      </ul>
    </div>
    <hr />
    <div class="text-width">
      <h4 class="text-center mb-3">Gijimo procesas</h4>
      <p>
        Po procedūros gali atsirasti odos patinimas ir paraudimas, kuris gali
        išlikti 1- 4 dienas, priklausomai nuo organizmo. Jei susidaro maži
        šašiukai leiskite jiems patiems nukristi, nekrapštykite.
      </p>
    </div>
    <hr />
    <div class="text-width pb-5">
      <h4 class="text-center mb-3">Priežiūra po procedūros</h4>
      <p>
        7-10 dienų nenaudokite veido valiklių, dekoratyvinės kosmetikos toje
        vietoje, kur buvo atlikta procedūra, nesilankykite baseine, pirtyse,
        venkite karšto dušo, tiesioginių saulės spindulių, bei intensyvaus
        sporto.
      </p>
    </div>
  </div>
</div>
