<div class="container-fluid">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text">
        <h2>Dovanų kuponas</h2>
        <hr />
        <h5>Ieškote dovanos ypatingam žmogui? Trūksta idėjos?</h5>
        <p>
          &#x2713; "Grožio Subtilybės" Dovanų kuponą galite įsigyti
          pageidaujamai pinigų sumai ar norimai paslaugai.
        </p>

        <p>
          &#x2713; "Grožio Subtilybės" Dovanų kuponas galioja 6 mėnesius nuo jo
          įsigijimo dienos. Dovanų kupono galiojimo pabaigos data yra nurodyta
          ant dovanų kupono. Pasibaigus galiojimo terminui, dovanų kuponas
          laikomas negaliojančiu.
        </p>

        <p>
          &#x2713; Dovanų kuponas nėra keičiamas nei į prekes, nei į pinigus.
        </p>

        <p>
          &#x2713; Dovanų kupone nurodytas procedūras keičiame į kitas
          procedūras, atitinkant procedūrų kainoms. Kitu atveju reikia primokėti
          atsiradusį skirtumą.
        </p>

        <p>
          &#x2713; Jeigu pasirinktų paslaugų kaina viršija dovanų kupone
          nurodytą sumą, skirtumą galima sumokėti grynaisiais pinigais arba
          banko kortele.
        </p>

        <p>
          &#x2713; Įsigijus paslaugų už mažesnę sumą, nei nurodyta dovanų
          kupone, likusią sumą galima išnaudoti kito apsilankymo metu.
        </p>

        <p>
          Dovanų kuponus galite įsigyti apsilankę salone, žemiau nurodytu
          numeriu arba užpildę formą ir padarius pamokejimą bankiniu pavedimu.
        </p>
        <p class="small-text">
          *Užpildžius formą, visa informacija bei banko detalės apmokėjimui bus
          išsiųstos nurodytu elektroninio pašto adresu.
        </p>

        <b>
          <p>
            Numeris konsultacijai:
            <a href="tel:+37060661833">
              <img
                src="../../../assets/phone.svg"
                alt="phone icon"
                width="25em"
                height="25em"
              />
              +37060661833
            </a>
          </p>
        </b>
        <hr />
      </div>
      <div class="col-md-6">
        <div class="cardForm">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div id="user-data">
              <div class="form-group">
                <label for="username">Vardas*</label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  formControlName="username"
                />
                <span
                  *ngIf="
                    !form.get('username')?.valid &&
                    form.get('username')?.touched
                  "
                  class="help-block"
                  >Įrasykite vardą.</span
                >
              </div>
              <div class="form-group">
                <label for="email">Elektroninio pašto adresas*</label>
                <input
                  type="email"
                  name="from_email"
                  class="form-control"
                  formControlName="email"
                />
                <span
                  *ngIf="
                    !form.get('email')?.valid && form.get('email')?.touched
                  "
                  class="help-block"
                  >Įrasykite elektroninio pašto adresą.</span
                >
              </div>
              <div class="form-group">
                <label for="tel">Telefono numeris*</label>
                <input
                  type="tel"
                  name="tel"
                  class="form-control"
                  formControlName="tel"
                />
                <span
                  *ngIf="!form.get('tel')?.valid && form.get('tel')?.touched"
                  class="help-block"
                  >Įrasykite savo telefono numerį.
                </span>
              </div>
              <div class="form-group">
                <label for="text"
                  >Kam skirta
                  <span class="small-text"> (vardas, pavardė)</span>?*</label
                >
                <input
                  type="text"
                  name="clientName"
                  class="form-control"
                  formControlName="clientName"
                />
                <span
                  *ngIf="
                    !form.get('clientName')?.valid &&
                    form.get('clientName')?.touched
                  "
                  class="help-block"
                  >Įrasykite vardą kam bus skirtas kuponas.</span
                >
              </div>
              <div class="form-group">
                <label for="text"
                  >Procedūra / Suma (
                  <a routerLink="/cost"
                    >procedūras ir jų kainas galite sužinoti paspaudę šia
                    nuorodą.</a
                  >
                  )?*</label
                >

                <input
                  type="text"
                  name="service"
                  class="form-control"
                  formControlName="service"
                />
                <span
                  *ngIf="
                    !form.get('service')?.valid && form.get('service')?.touched
                  "
                  class="help-block"
                  >Įrasykite pasirinktą paslaugą.</span
                >
              </div>
              <div class="form-group">
                <label for="coupon"
                  >Kaip norėtumėte atsiimti/gauti kuponą?*</label
                >
                <select
                  name="coupon"
                  formControlName="coupon"
                  class="form-control minimal"
                >
                  <option value="email-service">
                    Elektroniniu paštu (PDF formatu)
                  </option>
                  <option value="Atsiimti-salone">Atsiėmimas salone</option>
                </select>
              </div>
              <span
                *ngIf="
                  !form.get('coupon')?.valid && form.get('coupon')?.touched
                "
                class="help-block"
                >Pasirinkite, kaip noretumete atsiimti kuponą</span
              >
              <div class="form-group mt-4">
                <label for="question">Užduokite Jus dominantį klausimą.</label>
                <textarea
                  name="question"
                  cols="30"
                  rows="5"
                  class="form-control"
                  formControlName="question"
                ></textarea>
              </div>
            </div>
            <div class="form-group mt-4">
              <input
                class="form-check-input"
                type="checkbox"
                name="privacy"
                formControlName="privacy"
                id="privacy"
              />
              <label class="ms-2 form-check-label small-text" for="privacy">
                Sutinku su
                <a
                  class="policy-text"
                  href="../../../assets/Privacy-Policy/Privatumo politika.pdf"
                  target="blank"
                  >Asmens duomenų tvarkymo taisyklėmis.</a
                >
              </label>
            </div>
            <div *ngIf="isLoading">
              <div class="d-flex justify-content-center">
                <app-spinner></app-spinner>
              </div>
            </div>
            <div class="d-flex justify-content-center mb-4">
              <button
                type="submit"
                class="btn cBtn mt-4"
                [disabled]="!form.valid"
              >
                Siūsti
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="submited">
      <div class="popup">
        <h3>
          {{ name }}
          {{ successMsg ? " Ačiū už jūsų žinutę!" : "Įvyko klaida " }}
        </h3>
        <p>
          {{
            successMsg
              ? "Dovanų kuponą išsiūsime Jūsu pasirinktu būdu, kaip galėdami greičiau."
              : "Tinklo klaida, bandykite dar karta. Atsiprašome už nepatogumus"
          }}
        </p>
        <button class="btn cBtn p-2" (click)="onMailSent()">
          Į pagrindinį puslapį
        </button>
      </div>
      <div class="backdrop" (click)="onMailSent()"></div>
    </div>
  </div>
</div>
