.container-fluid {
  background-color: #f2efeb;
  padding-top: 5em;
}

.container {
  min-height: 85vh;
}

.small-text {
  font-size: 11px;
}

.text-width {
  // text-align: justify;
  margin: 0 auto;
}
.list-style {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .image-one {
    margin-bottom: 1em;
  }
  .text-padding {
    padding-left: 0;
  }
}
