<div class="container-fluid">
  <div class="container">
    <h6 class="text-center pb-2">
      “Kai tobuliems antakiams trūksta tiek nedaug!”
    </h6>
    <hr />

    <div class="text-center pb-2">
      <h4 class="mb-3">Antakių dažymas/korekcija</h4>
      <p class="text-width">
        Estetiškai atrodantys ir tvarkingi antakiai padeda išryškinti veido
        bruožus, bei pabrėžti akių formą. Antakių korekcijos ir dažymo metu
        suformuojami simetriški antakiai pagal Jūsų veido formą, pašalinami
        nereikalingi, ne vietoje augantys plaukeliai. Procedūros metu naudojami
        Henna , BronSun, cheminiai dažai, bei švelnios ir veiksmingos ItalWax ir
        Depileve vaško sistemos.
      </p>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-6 my-auto text-center">
        <img
          src="../../../assets/service-images/henna-01.webp"
          alt=""
          width="470"
          height="350"
          class="image-one"
        />
      </div>

      <div class="col-md-6 text-width">
        <h4 class="">Henna dažai</h4>
        <p>
          Henna (chna) tai produktas sukurtas natūralių žolelių pagrindu.
          Produkto sudėtyje nėra jokių kenksmingų komponentų (be amoniako,
          cinko, vandenilio peroksido). Procedūrų metu naudojamos natūralios
          priemonės, tad plaukeliai yra ne tik ilgam pagražinami, bet ir
          stiprinami. Henna dažai yra intensyvūs, tolygiai nudažo odą ir leidžia
          sukurti tiek pusiau permanentinių, tiek labai natūralių antakių
          efektą. Ant odos išsilaiko iki 10 dienų, o ant plaukelių apie 4-5
          savaites. Augalinės kilmės medžiagomis nudažomi antakiai po procedūros
          tampa stipresni, todėl puikiai tinka norinčioms atauginti gražius,
          sveikus, taisyklingos formos antakius. Šis dažymo būdas ypač tinka
          norinčiom didesnės antakių apimties , kadangi procedūros metu nudažomi
          ne tik plaukeliai, bet ir oda. Atminkite jog išliekamumas taip pat
          priklauso nuo odos būklės, tipo bei individualių savybių.
        </p>
        <p class="small-text">
          *Visuomet aptariame būsimą formą su kliente, įvertiname esamą formą ir
          galimas būsimos formos variacijas.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6 my-auto">
        <h4 class="my-3">Procedūra Henna dažais rekomenduojama:</h4>
        <ul>
          <li>
            Esant ploniems, silpniems plaukeliams, bei norint juos sustiprinti;
          </li>
          <li>Trūkstant antakių apimties;</li>
          <li>Praradus antakių formą, norint ištaisyti asimetriją;</li>
          <li>Norint ilgalaikio efekto;</li>
          <li>Jautriems cheminiams dažams.</li>
        </ul>
      </div>

      <div class="col-md-6 my-auto text-center">
        <img
          src="../../../assets/service-images/henna-02.webp"
          alt=""
          width="350"
          height="350"
        />
      </div>
    </div>
    <hr />
    <div>
      <div class="text-width">
        <h4 class="my-3 text-center">Bronsun dažai</h4>
        <p>
          Bronsun geliniai dažai yra intensyvūs, nudažo odą ir plaukelius.
          Parenkant intensyvumą galima sukurti labia natūralių antakių efektą
          arba suteikti sodrų ir ryškų atspalvį. Dažant skirtingomis technikomis
          galime išgauti įvairius rezultatus – ryškesnius, ar grafiškesnius
          antakius. Bronsun antakių dažų sudėtyje nėra amoniako.
        </p>
      </div>
    </div>
    <hr />
    <div class="text-width">
      <h4 class="my-3 text-center">Cheminiai dažai</h4>
      <p>
        Cheminiai dažai nudažo plaukelį, odoje efektas nėra labai ryškus, dažai
        greičiau nusiplauna nuo odos. Jei dažoma dažniau nei kas 3 savaitės,
        laikui bėgant plaukelis gali susilpnėti. Cheminius dažus rekomenduojama
        rinktis, kai antakiai yra tankūs, vešlūs, kai norima išgauti natūralų
        įvaizdį bei išlyginti plauko atspalvį.
      </p>
    </div>
    <hr />
    <div>
      <h4 class="mb-4 text-center">Antakių dizainas</h4>
      <ul class="text-margin text-width text-padding">
        <li>
          Visuomet aptariama būsimą formą su kliente, įvertinama esamą formą ir
          galimos būsimos formos variacijas.
        </li>
        <br />
        <li>
          Pilingas. Pilinguojama veido zoną ties antakiais, kad dažymas būtų
          tolygus ir išsilaikytų ilgiau.
        </li>
        <br />
        <li>
          Plovimas. Antakiai plaunami specialiomis putomis, kurios užtikrina
          švarų ir purų kiekviena plaukelį.
        </li>
        <br />
        <li>
          Forma. Antakių išmatavimas, asimetrijos ištaisymas, formos parinkimas.
          Antakių formavime yra naudojamas siūlas ir balta antakių pasta.
        </li>
        <br />
        <li>
          Dažymas. Aplikuojant dažus ant odos sukuriama tobula antakių forma
          pagal individualius veido bruožus.
        </li>
        <br />
        <li>
          Korekcija vašku/ pincetu. Atliekamas nereikalingų plaukelių
          pašalinamas. Depiliuojant vašku, pašalinami tiek stori plaukelius,
          tiek "pūkeliai", o pinceto pagalba pašalinami sunkiau prieinamose
          vietose likę plaukeliai.
        </li>
        <br />
        <li>
          Drėkinimas. Antakių plaukelių drėkinami serumais bei drėkikliais, kad
          jie išliktų žvilgantys.
        </li>
        <br />
        <li>
          Konsultacija. Konsultuojama kaip prižiūrėti antakius, kad jie atrodytų
          TOBULAI kasdieną.
        </li>
        <br />
        <li>Trukmė: apie 45min.</li>
        <br />
        <li class="small-text list-style">
          *Antakių modeliavimas ir korekcija užtrunka 30-45min. Procedūra
          atliekama ant kosmetologinio gulto, gulimoje padėtyje. Tad per ši
          laiką gausite ne tik gražius antakius, bet ir poilsį.
        </li>
      </ul>
    </div>
    <hr />
    <div class="pb-2 text-width">
      <h4 class="mb-4 text-center">
        Ką reikėtų žinoti prieš atliekant Antakių dažymo procedūrą
      </h4>
      <ul class="text-padding">
        <li>
          Pilingas. Likus kelioms dienoms iki vizito pas antakių meistrę
          rekomenduojama namuose atlikti antakių pilingą. Jeigu oda yra sausa ar
          šerpetojanti pilingas yra būtinas, kad dažai pasidengtų tolygiai ir
          neliktų plėmų.
        </li>
        <br />
        <li>
          Antakių šveitiklio pagalba yra pašalinamos negyvos odos ląstelės, taip
          pat yra skatinama kraujotaka, stimuliuojamas plaukelių augimąs.
          Antakių pilingas pagerina antakių dažų pigmento įsigėrimą į odą ir
          užtikrinana ilgesnį dažų išsilaikymo laiką.
        </li>
        <br />
        <li>
          Drėkinimas. Atminkite, ant išsausėjusios antakių odos dažai gražiai
          nepasidengia, tad labai svarbu drėkinti antakių zoną. Nepamirškite ,
          kad antakiams labai reikalinga drėgmė. Rekomenduojama maitinti
          įvairiais maitinančiais/drėkinančiais serumais. Tam puikiai tinka
          argano, ricinos, simondsijų, migdolų aliejus. Galite naudokite
          lakštines kaukes.
        </li>
        <br />
        <li>
          Tiesioginiai saulės spinduliai ir soliariumas. 48val.venkite
          tiesioginių saulės spindulių veido srityje, nes tai gali sukelti
          alergines reakcijas bei dirginimą.
        </li>
        <br />
        <li>
          Taip pat nesinaudokite soliariumų paslaugomis ir savaiminio įdegio
          kremais veido srityje, nes tai gali padaryti įtaką antakių atspalviui.
        </li>
      </ul>
    </div>
    <hr />
    <div class="pb-2 text-width">
      <h4 class="mb-4 text-center">
        Ar žinote kaip prižiūrėti Antakius po procedūros?
      </h4>
      <ul class="text-padding">
        <li class="list-style">
          Atminkite nėra stebuklingų antakių dažų, kurie laikysis odoje 1-2
          mėnesius. Pirmiausia reikia suprasti, kad išsilaikymas kiekvienai
          klientei yra skirtingas ir tai gali priklausyti nuo daugelio dalykų.
        </li>
        <br />
        <li class="list-style">
          Veiksniai įtakojantys greitesnį antakių dažų išsiplovimą:
        </li>
        <br />
        <li>
          Odos tipas. Turint riebią odą dažų efektas išsilaiko trumpiau nei
          turint sausą odą.
        </li>
        <br />
        <li>
          Priežiūra po procedūros. Rekomenduojama 24val. po procedūros antakių
          nešlapinti, netepkite kremais ar losjonais.
        </li>
        <br />
        <li>
          Priežiūra namuose. Naudojami riebūs kremai ar maitinančios kaukės
          pagreitina dažų išsiplovimą. Dažnas veido šveitimas, pilingas visiškai
          išvalo dažus iš antakiu. Nenaudokite rūgštinių priemonių ant antakių
          zonos.
        </li>
        <br />
        <li>
          Hormonai. Hormonų svyravimas turi įtakos dažų įsiskverbimui bei
          išsilaikymui.
        </li>
        <br />
        <li>Šviesūs atspalviai blunka greičiau nei tamsūs.</li>
        <br />
        <li>
          Dažai odoje laikysis trumpiau jei aktyviai sportuojate, lankotės
          baseine, pirtyje ar soliariume.
        </li>
        <br />
        <li>
          Norint išgauti tobulą rezultatą turi būti abipusis darbas tiek
          kliento, tiek antakių meistro. Tad pradėkime savo antakiais rūpintis
          jau šiandieną, o po kelių savaičių, galėsme kartu džiaugtis puikiais
          rezultatais!
        </li>
        <br />
        <li class="list-style">
          Linkiu džiaugtis sodria bei ryškia antakių spalva.
        </li>
        <br />
        <li class="small-text list-style">
          * Procedūrą rekomenduojama kartoti po 3-4 savaičių.
        </li>
        <br />
      </ul>
    </div>
  </div>
</div>
