<div class="background-img"></div>
<div class="container-fluid">
  <!-- <div class="container-media pt-5"> -->
  <div class="container">
    <h2 class="pt-5">Paslaugų kainos</h2>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel *ngFor="let data of costs">
        <ng-template ngbPanelTitle>
          <span>
            <b>{{ data.procedures }}</b>
          </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Procedūra</th>
                <th scope="col">Kaina</th>
                <th scope="col">Trukmė</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let details of data.details">
                <th scope="row"></th>
                <td class="td-width">
                  {{ details.procedure }}
                  <span *ngIf="details.note" class="span-class">
                    <br />
                    {{ details.note }}</span
                  >
                </td>
                <td *ngIf="!details.discount; else discount">
                  {{ details.cost }}
                </td>

                <ng-template #discount>
                  <td>
                    <span class="cross-out">{{ details.cost }}</span>
                    {{ details.discount }}
                  </td>
                </ng-template>

                <td>{{ details.time }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
