<div class="background-img"></div>
<div class="container-fluid">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-md-6 height">
        <h3 class="mb-4 text-center">KONTAKTAI</h3>
        <p class="mb-0 text-center">
          Mes esame įsikūrę Kauno širdyje, senamiestyje
        </p>
        <br />
        <p class="text-center">
          Registruokis vizitui ir leisk pasirūpinti TAVO grožiu!
        </p>
        <hr />
        <div class="address-div">
          <div>
            <p>
              <a
                target="blank"
                href="https://www.google.lt/maps/place/M.+Dauk%C5%A1os+g.+16,+Kaunas+44287/@54.8967154,23.889189,17z/data=!3m1!4b1!4m5!3m4!1s0x46e7220fb47dd991:0xa2995b633bd19fbb!8m2!3d54.8967154!4d23.8913777"
                >Adresas: M.Daukšos g. 16, Kaunas</a
              >
            </p>
            <p>
              <a href="tel:+37060661833">Telefonas: +37060661833</a>
            </p>
            <p>
              <a href="mailto:gbaltrusyte@gmail.com"
                >El paštas: info@groziosubtilybes.lt</a
              >
            </p>
          </div>
        </div>

        <div class="text-center">
          <a
            href="https://www.facebook.com/gitanagustaitiene"
            target="_blank"
            class="pe-1"
          >
            <img
              src="../../assets/facebook.svg"
              alt="facbook icon"
              width="30em"
              height="30em"
            />
          </a>

          <a
            href="https://www.instagram.com/gitanagustaitiene/"
            target="_blank"
            class="ps-1"
          >
            <img
              src="../../assets/instagram.svg"
              alt="instagram icon"
              width="30em"
              height="30em"
            />
          </a>
        </div>
        <hr />
        <p class="text-center">
          Jei turite klausimų užpildykite formą ir mes su Jumis susisieksime
        </p>
      </div>

      <div class="col-md-6 form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div id="user-data">
            <div class="form-group">
              <label for="username">Vardas*</label>
              <input
                type="text"
                name="user_name"
                class="form-control"
                formControlName="username"
              />
            </div>
            <span
              *ngIf="
                !form.get('username')?.valid && form.get('username')?.touched
              "
              class="help-block"
              >Įrasykite vardą.</span
            >
            <div class="form-group">
              <label for="email">El.paštas*</label>
              <input
                type="email"
                name="from_email"
                class="form-control"
                formControlName="email"
              />
            </div>
            <span
              *ngIf="!form.get('email')?.valid && form.get('email')?.touched"
              class="help-block"
              >Įrasykite elektroninio pašto adresą.</span
            >
            <div class="form-group">
              <label for="tel">Telefono numeris</label>
              <input
                type="tel"
                name="tel"
                class="form-control"
                formControlName="tel"
              />
            </div>
            <div class="form-group">
              <label for="service">Kokia procedūra Jus domina?*</label>

              <select
                id="service"
                name="service"
                formControlName="service"
                class="form-control minimal"
              >
                <option value="Ilgalaikis Makiažas">Ilgalaikis Makiažas</option>
                <option value="Antakių Dažymas Hena">
                  Antakių Dažymas Korekcija Henna
                </option>
                <option value="Blakstienų Priauginimas">
                  Blakstienų Priauginimas
                </option>
                <option value="Depiliacija">Depiliacija</option>
                <option value="Blakstienų Laminavimas">
                  Blakstienų Laminavimas
                </option>
                <option value="antakiu laminavimas">Antakių Laminavimas</option>
              </select>
            </div>
            <span
              *ngIf="
                !form.get('service')?.valid && form.get('service')?.touched
              "
              class="help-block"
              >Pasirinkite dominančią procedūrą.</span
            >
            <div class="form-group mt-4">
              <label for="questionService"
                >Užduokite Jus dominantį klausimą.*</label
              >
              <textarea
                name="question"
                cols="30"
                rows="5"
                class="form-control"
                id="questionService"
                formControlName="question"
              ></textarea>
            </div>
            <span
              *ngIf="
                !form.get('question')?.valid && form.get('question')?.touched
              "
              class="help-block"
              >Įrasykite klausimą.</span
            >
            <div class="form-group mt-4">
              <input
                class="form-check-input"
                type="checkbox"
                name="privacy"
                formControlName="privacy"
                id="privacy"
              />
              <label class="ms-2 form-check-label small-text" for="privacy">
                Sutinku su
                <a
                  class="policy-text"
                  href="../../../assets/Privacy-Policy/Privatumo politika.pdf"
                  target="blank"
                  >Asmens duomenų tvarkymo taisyklėmis.</a
                >
              </label>
            </div>
          </div>
          <div *ngIf="isLoading">
            <div>
              <app-spinner></app-spinner>
            </div>
          </div>
          <button type="submit" [disabled]="!form.valid" class="btn cBtn mt-4">
            Siūsti
          </button>
        </form>
      </div>
    </div>
    <div *ngIf="submitted">
      <app-thank-you
        [name]="name"
        [resMessage]="resMessage"
        (close)="onClose()"
      ></app-thank-you>
    </div>
  </div>
</div>

<div class="agm-map-container-inner sebm-google-map-container-inner"></div>
<div class="agm-map-content">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="lat" [longitude]="lng"> > </agm-marker>
  </agm-map>
</div>
