<div class="container-fluid">
  <div class="container">
    <h6 class="text-center">
      “Antakiai yra viena svarbiausių veido bruožų detalių, kuri įrėmina veidą
      atskleisdami gražiausius jo bruožus”
    </h6>
    <hr />
    <div class="text-width">
      <h4 class="py-3 text-center">
        Antakių ilgalaikis/ permanentinis makiažas
      </h4>
      <p>
        Šiuolaikinis ilgalaikis antakių makiažas yra itin populiari grožio
        procedūra, kuri padeda atskleisti natūralų grožį, pabrėžia privalumus ir
        paslėpia trūkumus. Procedūra rekomenduojama, kai antakiai yra reti,
        šviesūs, asimetriški ar tiesiog norint antakius paryškinti.
      </p>

      <p>
        Permanentinis makiažas gali būti įvardijamas įvairiai, t.y .ilgalaikis
        makiažas, mikropigmentacija ar tatuažas. Visi šie pavadinimai reiškia tą
        patį, ir apibūdina procedūrą kaip pigmentų įvedimą į odą, siekiant
        sukurti ilgalaikį pasirinktos srities makiažo rezultatą.
      </p>

      <p>
        Permanentinis /ilgalaikis makiažas yra skirtas šiuolaikiškai moteriai,
        kuri nori būti žavi bei graži visur ir visada. Tai puikus būdas
        subtiliai pabrėšti gražiausius veido bruožus, paryškinant ir sukuriant
        tobulas veido linijas.
      </p>

      <p>
        Jei pavargote nuo kasdieninio antakių dažymo arba jei sunkiai sekasi
        pasiekti tobulą antakių formą, antakių ilgalaikis makiažas kaip tik
        Jums. Tai puikus pasirinkimas norinčioms sutaupyti laiko bei palengvinti
        kiekvienos dienos ryto ritualus. Po permanentinio antakių makiažo
        turėsite gražius, pilnus antakius, kurie atrodys puikiai kiekvieną
        dieną.
      </p>

      <p>
        Antakių mikropigmentacija - tai kosmetinė procedūra, kurios metu plonos
        adatėlės pagalba į viršutinį odos sluoksnį (epidermį) yra įvedimas
        pigmentas. Procedūros metu išgaunami simetriški tvarkingi, estetiškai
        atrodantys antakiai. Ši procedūra kažkiek primena tatuiruotę, tačiau
        pigmentas įvedamas ne taip giliai po oda. Esminis skirtumas nuo
        tatuiruotės - tai pigmento įvedimo gylis, todėl ilgalaikis makiažas
        išlieka tik tam tikrą laiką. Permanentinis makiažas atliekamas specialiu
        aparatu, naudojant specialius tam pritaikytus kartridžus (adatas) bei
        specialius pigmentus.
      </p>
      <p class="small-text">
        *Procedūros metu naudojami tik vienkartiniai kartridžai (adatos) bei
        kitos priemonės, ES reikalavimus atitinkantys kokybiški pigmentai, todėl
        procedūros atlikimas yra visiškai saugus.
      </p>

      <p>
        Antakių ilgalaikio šešėliavimo technika leidžia sukurti itin natūraliai
        atrodantį efektą be jokių griežtų linijų. Lengvas, minkštas, purus
        antakio šešliavimas, be aiškaus priekio ir viršutinės linijos,
        natūraliai paryškina antakių formą. Procedūra atliekamas naudojant
        skirtingo intensyvumo spalvų pigmentus, taip sukuriant natūralių antakių
        efektą. Tinka visų tipų odai.
      </p>

      <p>
        Antakių šešėliavimo technika yra rekomenduojama moterims, kurių antakių
        plaukeliai yra pakankamai vešlūs. Tačiau dažniausiai vis tiek norima
        užpildyti tuščius tarpelius, taip suteikiant antakiams tvarkingą,
        simetrišką formą. Šešėliuojant antakius ombre technika antakiai
        ryškinami skirtingų atspalvių pigmentais. Viršutinė antakių dalis kiek
        šviesesnė. Tamsiausios vietos - antakių pabaiga ir apatinė linija. Po
        antakių šešėliavimo jie atrodys pakankamai natūraliai ir retas supras,
        kad Jums atliktas antakių permanentas. Procedūros rezultatas primins
        antakių paryškinimą šešėliais.
      </p>
    </div>
    <hr />
    <h6 class="text-center">
      “Visuomet stengiuosi pažinti savo klientes, įkvėpti joms pasitikėjimo
      manimi, įsiklausyti į jų pageidavimus bei atlikti procedūrą
      nepriekaištingai - saugiai, kokybiškai ir gražiai”
    </h6>
    <hr />
    <h4 class="py-3 text-center">Eskizas</h4>
    <div class="row">
      <div class="col-md-6 text-center my-auto">
        <img
          src="../../../assets/service-images/PMU.webp"
          alt=""
          width="350"
          height="500"
          class="image"
        />
      </div>
      <div class="col-md-6">
        <p>
          Antakių ilgalaikio makiažo procedūros metu yra suformuojama Jūsų
          veidui labiausiai tinkanti antakių formą, parenkama Jums tinkanti
          spalva, bei ištaisoma antakių asimetrija. Šešėlio pagalba sukuriamos
          tamsiausios ir šviesiausios antakio spalvos, kad antakis atrodytų
          natūraliai pilnas.
          <br />
          Prieš procedūrą su klientu visada yra aptariamas norimas rezultatas,
          procedūros metodas, technika, atsakoma į visus klausimus. Išsiaiškinus
          kliento lūkesčius, piešiamas eskizas, individualiai parenkama pigmentų
          spalva. Bendru sutarimu tvirtinamas eskizas, bei pradedamas pigmentų
          įvedimas į odą.
        </p>
      </div>
    </div>
    <hr />
    <h4 class="py-3 text-center">Procedūros eiga</h4>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>
            Pirmos procedūros metu vyksta konsultacija, apžiūrima zona, kurioje
            bus atliekama procedūra, išsiaiškinami kliento poreikiai, kokio
            rezultato klientas tikisi ir pageidauja, aptariama technika, bei
            atsakoma į visus klausimus;
          </li>
          <li>
            Užpildoma kliento kortelė, kurioje supažindinama apie esamas ar
            galimas kontraindikacijas;
          </li>
          <li>Meistrė nufotografuoja klientą prieš procedūrą;</li>
          <li>
            Piešiama individuali antakių forma, esant pageidavimui forma/
            eskizas gali būti koreguojamas, keičiamas abipusiu kliento ir
            meistrės susitarimu;
          </li>
          <li>
            Bendru sutarimu tvirtinamas eskizas, bei pradedama
            mikropigmentacijos procedūra;
          </li>
          <li>Procedūros metu yra naudojami nuskausminamieji;</li>
          <li>Po procedūros meistrė nufotografuoja rezultatą.</li>
          <li>Paaiškinama priežiūra po procedūros;</li>
          <li>
            Aptariama korekcija. Korekcija atliekama 1- 3 mėnesių laikotarpyje
            po pirminės procedūros. Korekcija reikalinga norint sulyginti
            spalvą, kadangi gijimo metu pigmentas gali išlikti nevienodai.
            Atsižvelgiant į sugijusį rezultatą bei į klientės poreikį visada
            galime paryškinti, parinkti šiltesnį ar šaltesnį atspalvį, palyginti
            kontūrą.
          </li>
        </ul>
      </div>

      <div class="col-md-6 text-center my-auto">
        <img
          src="../../../assets/service-images/PMU-one.webp"
          alt=""
          width="350"
          height="500"
          class="image"
        />
      </div>
    </div>

    <hr />
    <h4 class="py-3 text-center">
      Kiek trunka ilgalaikio antakių permanentinis makiažo procedūra?
    </h4>
    <p>
      Vidutiniškai ilgalaikio makiažo trunka nuo 2val. iki 2.5al. Procedūros
      trukmė priklauso nuo pasirinktos technikos. Į procedūrą laika įeina
      konsultacija, kliento poreikių išaiškinimas, formos parinkimas, eskizo
      piešimas ir pačios procedūros atlikimas.
    </p>
    <hr />
    <h4 class="py-3 text-center">Ar tai skausminga procedūra?</h4>
    <p>
      Ilgalaikio makiažo procedūros metu skausmo pojūtis turėtų būti minimalus
      arba visai jo nebūti, kadangi yra neliečiami odos gilieji sluoksniai. Gali
      būti juntamas minimalus diskomfortas, tai priklauso nuo organizmo savybių,
      odos storio, jautrumo ir kt. Permanentinio makiažo procedūros metu yra
      naudojami anestetikai, kurie sumažina skausmą iki minimalaus pojūčio.
      Procedūros metu ir po jos, procedūros vieta gali būti kiek paraudusi,
      patinusi. Šie reiškiniai praeina po kelių valandų. Gijimo metu skausmo
      nebejausite, gali būti tik odos tempimo jausmas, kai užsidės ir pradės
      luptis susidarę šašeliai.
    </p>
    <p class="small-text">
      *Savo darbe naudoju šiuolaikinę techniką ir aukštos kokybės medžiagas -
      visi pigmentai ir produktai yra sertifikuoti, juose nėra nuodingų dažų,
      sunkiųjų metalų ir aromatinių aminų, kurie gali turėti neigiamą poveikį
      organizmui.
    </p>
    <hr />
    <h4 class="py-3 text-center">
      Kaip ilgai išsilaiko antakių ilgalaikis makiažas?
    </h4>
    <p>
      Ilgalaikio makiažo spalvos blukimą ir pigmento išliekamumą įtakoja
      daugelis veiksnių. Išliekamumas priklauso nuo individualių savybių, tokių
      kaip odos tipas, amžius, sveikatos būklė, gyvenimo būdas ir kt. Taip pat
      didelės įtakos turi saulė, pirtys, soliariumai, baseinai, bei technikos ir
      pigmentų pasirinkimas.
      <br />
      Paprastai permanentinis makiažas išsilaiko nuo 8 mėn iki 3 metų. Jei
      ilgalaikis makiažas buvo atliktas ryškenis - tai išliekamumas bus
      ilgesnis, jei buvo atliktas švelnesnis variantas - tada spalva išbluks
      greičiau. Tikslinga ilgalaikio makiažo spalvos atnaujinimą atlikti yra nuo
      1-1.5 metų, priklausomai nuo poreikio. Jei norite džiaugtis ilgalaikio
      makiažo teikiamais privalumais, verta atlikti atnaujinimo procedūrą, kai
      tik pastebite, jog trūksta spalvos intensyvumo ar tiesiog nebesijaučiate
      patenkinta esamais antakiais.
      <br />
      Noriu atkreipti dėmesį, jog odos tipas turi ypatingai daug įtakos, po kiek
      laiko procedūrą gali tekti kartoti. Sausos odos savininkė gali
      pakartotinai atvykti į korekciją po 2 metų, o riebios, porėtos odos
      savinikė gali ateiti ir po nepilnų metų. Šiomis dienomis atliekamas
      permanentinis makiažas atrodo labai natūraliai, gali būti beveik
      nepastebimas kaip žmogaus atliktas darbas, tačiau jis ir laikosi daug
      trumpiau, t.y. atnaujinti būtina kas metus. Neatnaujinant gali visiškai
      išnykti kelerių metų bėgyje.
    </p>
    <h4 class="py-3 text-center">Korekcija</h4>
    <p>
      Antakių korekcija atliekama praėjus 1-3 mėnesiams po pirminės procedūros.
      Korekcijos metu yra paryškinama arba palyginama spalva bei kontūras.
      Procedurų intervalai yra ne anksčiau kaip po 4-6 savaičių ir ne vėliau
      kaip po 3 mėnėsių. Po 3 mėnesių visiškai atsinaujina viršutiniai epidermio
      sluoksniai. Jei nesilaikoma 4-6 savaičių intervalo, galima išjudinti dar
      neįsitvirtinusį pigmentą, pažeisti nesugijusį audinį. <br />
      Pirmoji procedūra yra skirta tarsi susipažinti su oda, išsiaiškinti kaip
      oda priims pigmentą, bei kaip ji gis. Korekcija yra reikalinga sulyginti
      spalvą, kadangi gijimo metu dėl nevienodos odos struktūros pigmento
      pigmentas gali netolygiai pasiskirstyti. Korekcijos metu yra žiūrima į
      sugijusį rezultatą bei atsižvelgiant į klientės poreikį galime paryškinti,
      parinkti šiltesnį ar šaltesnį atspalvį.
    </p>
    <p class="small-text">
      *Norint išgauti tobulą rezutatą dažnu atveju vienos procedūros nepakanka,
      kadangi pigmento įsisavinimui įtakos turi įvairūs faktoriai – vidiniai
      (stresas, vartojami vaistai, ligos ir kt.) ir išoriniai (saulė, procedūros
      veidui, pirtis, soliariumas ir kt.).
    </p>
    <hr />
    <h4 class="py-3 text-center">Gijimo procesas</h4>
    <p>
      Po procedūros gali atsirasti odos patinimas ir paraudimas, kuris gali
      išlikti kelias valandas. Po ilgalaikio makiažo procedūros susiformuos
      šašiukas, kuris gali laikytis nuo vienos iki dviejų savaičių. Labai svarbu
      visą gijimo laikotarpį nešlapinti, nekrapštyti, nelupinėti procedūros
      vietoje susidariusių šašelių, jie nukris patys. Lupimas gali pakenkti
      pigmento įsisavinimui. Šiuo laikotarpiu venkite saulės spindulių,
      nenaudokite produktų, tokių kaip rūgštys, peroksidas ir kt. Po ilgalaikio
      makiažo procedūros praėjus 3 dienoms oda pradės pleiskanoti , tada
      antakius tepkite kremu/vazelino tepalu, kurį paskyrė meistras. Tepalą
      tepkite plonu sluoksniu. Įprastai gijimas trunka 6-8 dienas. Nusilupus
      šašiukui bus matoma ar yra neprigijusio pigmento, odos pašviesėjimų, kurie
      atsiranda dėl individualių odos savybių, mechaninių pažeidimų lupant
      šašiuką. Gali atrodyti, kad antakiai labai šviesūs, bet nereikia
      baimintis, nes spalva laikui bėgant paryškės. Įvertinti galutinį rezultatą
      bus galima tik po 6 savaičių, kai pilnai bus praėjęs regeneracijos
      procesas. Spalva gali šiek tiek kisti nuo 1- 3 mėnesių laikotrapyje. Šiuo
      laikotarpiu rekomenduojama atlikti korekciją. Korekcija yra darbo
      užbaigimas. Gydami antakiai šiek tiek pasitraukia, pašviesėja apie
      30-40procentų, tad galutiniame rezultate atrodo labai natūraliai.
    </p>
    <hr />
    <h4 class="py-3 text-center">
      Ką verta žinoti prieš ilgalaikio makiažo procedūrą
    </h4>
    <ul>
      <li>
        Nėščiosioms negalima atlikti ilgalaikio makiažo procedūros, nes tai
        papildomas stresas kūdikiui. Maitinančioms ilgalaikų makiažą
        rekomenduojame atlikti tik pilnai nutraukus kūdikio maitinimą. Šiuo
        periodu keičiasi hormonai ir organizmas gali nepasisavinti pigmento.
      </li>
      <li>
        Nerekomenduojama atlikti korekcijos anksčiau nei 4-6 savaitės po
        pirminės procedūros. Atlikti korekciją ir išgauti maksimaliai gražų
        rezultatą galima tik tuomet, kai zona yra pilnai sugijusi.
      </li>
      <li>
        Jeigu planuojate kelionę, kur bus labai karšta ir saulėta, procedūrą
        reikėtų atlikti 1 mėnesį prieš kelionę.
      </li>
      <li>
        Jeigu turite žaizdelių, herpį, labai sausa šerpetojančią odą toje
        zonoje, kur bus atliekama procedūra. Procedūrą galima atlikti tik, kai
        viskas pilnai sugiję.
      </li>
      <li>
        Jeigu planuojate vykti į šventę, geriausia procedūrą atlikti likus 10d.
        iki jos, kad viskas sugytų ir jaustumėtės patogiai.
      </li>
    </ul>
    <hr />
    <h4 class="py-3 text-center">Pasiruošimas ilgalaikio makiažo procedūrai</h4>
    <ul>
      <li>
        7-14 dienų prieš ilgalaikio makiažo procedurą neatlikti veido procedūrų,
        tokių kaip veido šveitimas, rūkštinis valymas, mezoterapijos,
        biorevitalizacijos, veido plaukelių šalinimas lazeriu, kapiliarų
        šalinimas lazeriu.
      </li>
      <li>
        Atlikus veido injekcijas turi praeiti 1 mėnuo iki planuojamos ilgalaikio
        makiažo procedūros toje veido zonoje.
      </li>
      <li>
        24valandas prieš procedūrą nevartoti alkoholio, stiprios juodos kavos,
        arbatos, energetinių gėrimų, vitamino C, kraują skystinančių vaistų.
      </li>
      <li>Keletą dienų nesideginti soliariume ir saulėje.</li>
      <li>
        Atliekant akių vokų procedūrą negali būti priaugintų blakstienų,
        kontaktinių lęšių.
      </li>
      <li>
        Likus savaitei iki antakių procedūros nepešioti plaukelių bei nedažyti.
      </li>
      <li>
        Morališkai nusiteikti, kad po procedūros būsite ryški kelias dienas,
        neišvengsite paburkimų, patinimų, kad truputėlį maus, perštės pažeistą
        audinį.
      </li>
    </ul>
    <hr />
    <h4 class="py-3 text-center">
      Antakių priežiūra po ilgalaikio makiažo procedūros
    </h4>
    <ul>
      <li>
        Negalima pažeistos vietos liesti rankomis, nes yra tikimybė patekti
        infekcijai.
      </li>
      <li>
        Pirmą dieną po procedūros, jeigu yra šlapiavimas (skiriasi limfa), kas
        1-3 valandas (pagal poreikį) švelniai valykite antakius vatos diskeliu
        sudrėkintu virintu/ distiliuotu vandeniu.
      </li>
      <li>
        Sausas gijimas rekomenduojamas dvi paras, riebios odos savininkėms tris
        paras.
      </li>
      <li>
        Visą gijimo laikotarpį, kol šašeliai dar nėra pilnai pasišalinę,
        pažeistą zoną laikyti sausai, saugoti nuo kontakto su veido ir plaukų
        plovikliais, prausimosi metu, negalima pažeistos vietos mirkyti. Jei
        šašelis bus mirkomas ar pašalintas anksčiau, toje vietoje pigmentas gali
        išnykti, ar susigerti netolygiai t.y. to pasekoje likti tarpas.
      </li>
      <li>
        Po 3 dienų, prasidėjus odos tempimui, naudoti paskirtą kremą/ vazelino
        tepalą, kurį paskyrė meistras. Tepalą tepkite labai plonu sluoksniu.
      </li>
      <li>
        7dienas po procedūros venkite baseinų, deginimosi saulėje, soliariume,
        saunų, pirčių, grožio procedūrų veido srityje, aktyvaus sporto ar kitos
        aktyvios veiklos;
      </li>
      <li>
        Svarbu apriboti dekoratyvinės kosmetikos naudojimą permanentinio makiažo
        procedūros vietoje, neatlikti stiprų poveikį turinčių kosmetinių ir
        estetinių procedūrų, rūgštinių valymų ir pan.
      </li>
      <li>
        Ramiai laukti rezultato, nestresuoti, kad pigmentas dingo (sugijus odai
        jis išryškėja). Nukritus šašiukams, spalva atrodo šiek tiek šviesesnė,
        kadangi į odą įvesti pigmentai stabilizuojasis iki 6 savaičių. Spalva
        bei atspalvis priklauso nuo odos struktūros ir natūralaus odos pigmento.
      </li>
      <li>
        Po atliktos procedūros praėjus 1 - 3 mėnesiams reikalinga korekcija.
      </li>
    </ul>
    <hr />
    <h5 class="py-3 text-center">
      Linkime, kad atliktų procedūrų rezultatai Jus džiugintų ir išryškintų
      gražiausius bruožus!
    </h5>
    <br />
  </div>
</div>
