<div class="container-fluid">
  <div class="container">
    <h2 class="text-center">BLAKSTIENŲ PRIAUGINIMAS</h2>
    <hr />
    <section>
      <h3 class="text-center pb-3">KLASIKINIS BLAKSTIENŲ PRIAUGINIMAS</h3>
      <div class="row">
        <div class="col-md-6">
          <p>
            Klasikinis blakstienų priauginimas- tai natūralių blakstienų
            prailginimas ir pastorinimas. Tai priauginimas, kurio metu ant
            vienos natūralios blakstienos priklijuojama viena dirbtinė
            blakstiena (1:1). Šio priauginimo metu galima uždėti tik tiek
            dirbtinių blakstienų, kiek yra natūralių. Klasikinio priauginimo
            metu galima priauginti nuo 80 – 150 vnt. blakstienų ant vienos
            akies. Klasikinis blakstienų priauginimas leidžia džiaugtis
            natūraliai atrodančiomis blakstienomis. Šis blakstienų priauginimo
            būdas skirtas toms moterims, kurios nori natūralaus efekto, arba
            tarsi padažytu tušu blakstienų įspūdžio. Klasikinis blasktienų
            priauginimas labiausiai tinka toms, kurios turi tankias natūralias
            blakstienas, ir nori tik truputį išryškinti savo natūralų grožį.
            Klijuojant po vieną blakstieną ant kiekvienos Jūs nepajusite labai
            didelio svorio, o po procedūros nejusite jokio diskomforto, tačiau
            blakstienos bus ilgesnės, ryškesnės ir atrodys tankiau. Dažnai
            merginos galvoja, jog klasikinės blakstienos bus nepastebimos ar
            atrodys netvarkingai, tačiau kokybiškai atliktas darbas visada
            atrodys tvarkingai. Labai džiugu, kad natūralus akių įvaizdis tampa
            vis populiaresnis ir dauguma merginų vėl renkasi būtent tokį efektą.
          </p>
        </div>
        <div class="col-md-6"></div>
      </div>
      <hr />
    </section>
    <section>
      <h3 class="text-center pb-3">HIBRIDINIS (MIX) BLAKSTIENŲ PRIAUGINIMAS</h3>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <p>
            Hibridinis blakstienų priauginimas - tai priauginimas, kurio metu
            naudojamos dvi technikos, t.y. klasikinis ir volume blakstienų
            priauginimas. Tokio priauginimo metu sukuriamas natūralus efektas,
            tačiau nepaliekami akivaizdūs tarpeliai tarp blakstienų. Kombinuotas
            blakstienų priauginimas leidžia sukurti šiek tiek tankesnį efektą
            nei klasikinis blakstienų priauginimas. Priauginimo metu volume
            blakstienų kuokšteliai suteikia tankumo, o klasikinės blakstienos
            prideda tekstūros. Šis priauginimas rekomenduojamas moterims, kurios
            nori truputį tankesnio priauginimo nei klasikinio, bet ne per
            tankaus kaip volume. Hibridinio priauginimo metu sukuriamas
            natūralus, purus efektas, kuris neapsunkina natūralių blakstienų,
            bei žvilgsnio.
          </p>
        </div>
      </div>
      <hr />
    </section>
    <section>
      <h3 class="text-center pb-3">VOLUME BLAKSTIENŲ PRIAUGINIMAS</h3>
      <div class="row">
        <div class="col-md-6">
          <p>
            Volume blakstienų priauginimas - tai natūralių blakstienų
            patankinimas, kurio metu ant vienos natūralios blakstienos
            klijuojama ne viena dirbtinė blakstiena, bet itin plonų blakstienų
            kuokštelis (2D-6D). Volume blakstienos yra labai plonos, todėl
            neverta jaudintis, kad bus sunkios. Ši priauginimo technika taip pat
            dar vadinama 2D, 3D, 4D, 5D, 6D, skaičius nurodo dirbtinių
            blakstienų skaičių kuokštelyje, bei kiek padidės blakstienų apimtis.
            Blakstienų kuokštelio dydis priklauso nuo pageidaujamo efekto ir
            blakstienų ryškumo. Specialia technika pincetų pagalba formuojant
            blakstienų kuokštelius galima išgauti tankių, lengvų ir purių
            blakstienų efektą.Volume blakstienų priauginimo būdu blakstienas
            galima paryškinti, pailginti, patankinti, bei akims suteikti švelnų
            žvilgsnį. Volume priauginimo metu galima priauginti iki 600
            vnt.blakstienų ant akies. Volume blakstienų priauginimas
            rekomenduojamas norinčioms išraiškingesnio efekto, bei norint
            padidinti blakstienų apimtį. Taip pat rekomenduojamas toms, kurių
            natūralios blakstienos yra pakankamai retos ar plonos. Neretai
            klientės baiminasi, kad „Volume“ technika skirta tik toms, kurios
            nori labai tankių ir ryškių blakstienų. Tačiau volume technika
            galima išgauti nuo natūralaus puraus iki labai ryškaus, tankaus
            efekto.
          </p>
        </div>
        <div class="col-md-6"></div>
      </div>
      <hr />
    </section>
    <section>
      <h3 class="text-center pb-3">
        MEGA VOLUME (SUPER VOLUME) BLAKSTIENŲ PRIAUGINIMAS
      </h3>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <p>
            Mega volume blakstienų priauginimas - tai itin tankus ir ryškus
            blakstienų patankinimas, kurio metu ant vienos natūralios
            blakstienos klijuojamas itin plonų blakstienų kuokštelis (7D ir
            daugiau). Priauginimo metu naudojamos itin plonos 0,03-0,05
            blakstienos. Mega volume technika ¬- tai ypač tankus blakstienų
            priauginimas norinčioms išskirtinio ryškumo ir juodumo blakstienų.
            Deja šis priauginimas dėl per didelio svorio rekomenduojamas rečiau,
            tik turint ypač stiprias blakstienas, arba esant progai, šventėms.
          </p>
        </div>
      </div>
      <hr />
    </section>
    <section>
      <h3 class="text-center pb-3">KIM KARDASHIAN BLAKSTIENŲ PRIAUGINIMAS</h3>
      <div class="row">
        <div class="col-md-6">
          <p>
            Kim Kardashian blakstienų priauginimas - tai hibridinis klasikos ir
            volume technikų sujungimas į vieną, išgaunant dramatiško,
            išskirtinio žvilgsnio efektą. Klasikinės ar volume neišskeistos
            blakstienos yra naudojamos ilgesnės tam, kad būtų išgautas netolygus
            ilgis, arba kitaip vadinami spygliukai. Kim Kardashian pagrindui
            sukurti yra naudojama trumpesnių blakstienų volume technika su
            atitinkama kuokštelių geometrija. Kim Kardashian blakstienų
            priauginimo tampa vis populiaresnis tarp merginų, kurios nori
            išsiskirti iš minios savo paslaptingu žvilgsniu, tačiau nenori
            apsunkinti savo akių.Šis priauginimas atrodo patraukliausiai, kai
            pasirenkamas vidutinis tankumas. Kim priauginimas leidžia sukurti
            netvarkingo priauginimo įspūdį, tačiau tai nėra bet koks
            netvarkingas priauginimas, tai stilizuotas priauginimas, kuris
            reikalauja dar kruopštesnio darbo nei įprastas priauginimas. Kim
            Kardashian priauginimas yra rekomenduojamas klientėms, kurios nori
            išbandyti kitokį priauginimą nei įprastai, mėgsta ilgesnes
            blasktienas, ar kai nusibodo vientisa tolygi blakstienų priauginimo
            linija.
          </p>
        </div>
        <div class="col-md-6"></div>
      </div>
      <hr />
    </section>
    <section>
      <h3 class="text-center pb-3">BABY LASHES BLAKSTIENŲ PRIAUGINIMAS</h3>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <p>
            Baby lashes blakstienų priauginimas – tai ypač natūralus blakstienų
            priauginimas, kuris atliekamas su klasikinėmis itin plonomis
            blakstienomis, o blakstienų linija paliekama netolygi. Šis
            blakstienų priauginimo būdas rekomenduojamas toms, kurios nori
            natūralaus efekto, lengvo ir gaiviai atrodančiu žvilgsnio. Baby
            lashes blakstienų priauginimo technika skiriasi nuo kitų tuom, jog
            su šia technika galima išgauti itin natūralų efekta, kuris tiesiog
            neapsunkina akių, o galutiniame rezulatate blakstienos atrodo tarsi
            padažytu tušu.
          </p>
        </div>
      </div>
      <hr />
    </section>
    <section>
      <h3 class="text-center pb-3">
        WET LASHES (ŠLAPIŲ BLAKSTIENŲ) PRIAUGINIMAS
      </h3>
      <div class="row">
        <div class="col-md-6">
          <p>
            “Wet lahes” blakstienų priauginimas – tai natūralus volume
            blakstienų priauginimas, kuriame naudojami volume neišskelisti
            /siauri beveik neišskleisti kuokšteliai, arba jie miksuojami su
            išskleistais kuokšteliais. Kuokšteliai yra minkštesni ir lankstesni
            nei klasikinių blakstienų, tad lengviau apgaubiantys natūralią
            blakstieną.
            <br />
            Šlapių blakstienų efektas suteikia išraiškingesnį žvilgsnį bei
            stilingą įvaizdį. Šio priauginimo metu blakstienos įgauna papildomos
            apimties, neapsunkindamos ir atrodydamos natūraliai.
            <br />
            "Wet lashes" blakstienų priauginimas rekomenduojamas visoms, kurios
            mėgsta ryškiau, bet natūraliai, nori lyg padažytų tušu ar sulipintų
            blakstienų įvaizdžio
          </p>
        </div>
        <div class="col-md-6"></div>
      </div>
    </section>
  </div>
</div>
