<div class="container-fluid">
  <div class="container">
    <h6 class="text-center">
      “Kiekvienas blakstienų priauginimas yra tarsi akies menas, leidžiantis
      kurti skirtingus įvaizdžius.“
    </h6>
    <hr />
    <div class="text-width">
      <h4 class="text-center mb-3">Blakstienų priauginimas</h4>
      <p>
        Blakstienų priauginimas yra itin populiari grožio procedūra, kuri ne tik
        palengvina kasdienybę, bet leidžia kasdieną džiaugtis tobulomis
        blakstienomis ir išraiškingu žvigsniu. Ar gi gali būti geriau, atsikėlus
        ryte, be didelių pastangų atrodyti nepriekaištingai! Priaugintų
        blakstienų nereikės dažyti tušu, todėl sutaupysite laiko tiek ryte, tiek
        vakare.
      </p>
      <div class="row">
        <div class="col-md-7">
          <p>
            Blakstienų priauginimas yra puiki išeitis tada, kai vargina
            blakstienų dažymas tušu, makiažo valymas po dienos darbų, nubėgęs ar
            nutrupėjas tušas, sulipintos blasktienos. Tai puikus pasirinkimas
            planuojat atostogas, kai kasdieną norisi atrodyti ir jaustis
            tobulai. Su blakstienos galėsite maudytis jūroje, plaukioti baseine,
            eiti, pirtį, bei džiaugtis kitomis pramogomis ar aktyviomis
            veiklomis. Blakstienų priauginimo procedūra tinka net ir
            kontaktinius lęšius nešiojančioms moterims. Tiek blakstienos, tiek
            klijai skirti jų pritvirtinimui prie natūralių blakstienų, neturi
            pašalinio poveikio nešiojančioms lęšius.
          </p>
        </div>
        <div class="col-md-5 text-center mb-3">
          <img
            src="../../../assets/service-images/b-priauginimas-02.webp"
            alt=""
            width="350"
            height="450"
          />
        </div>
      </div>
      <p>
        Blakstienų priauginimas skirtas tiek natūralumą vertinančioms, tiek
        labai išraiškingą efektą mėgstančioms moterims. Parenkant skirtingas
        blakstienų rūšis bei priauginimo technikas galima vizualiai pakorekuoti
        žvilgsnį, tam tikrą asimetriją, prailginti ar labiau „atverti“ akis.
        Tinkamu modeliavimu galima sukurti skirtingus įvaizdžius, paslėpti
        defektus, ar išryskinti akis.
      </p>
      <br />
      <div class="row">
        <div class="col-md-5 text-center mb-3">
          <img
            src="../../../assets/service-images/b-priauginimas-01.webp"
            alt=""
            width="350"
            height="450"
          />
        </div>
        <div class="col-md-7">
          <p>
            Blakstienų priauginimui yra naudojamos ypač aukštos kokybės
            sintetinio mikropluošto arba šilkinės blakstienų medžiagos. Taip pat
            gali būti natūralaus pluošto audinės ar voverės kailis. Blakstienos
            yra plonytės ir elastingos, neapsunkina akių, todėl retai kada
            alergizuoja. Blakstienų priauginimas atliekamas tik su aukštos
            kokybės sertifikuotomis priemonėmis, atitinkančiomis visus sveikatos
            reikalavimus. Blakstienų priauginimo metu prie natūralių blakstienų
            0,5-1 mm atstumu nuo voko, yra priklijuojami aukštos kokybės
            sintetinio mikropluošto plaukeliai. Procedūros metu yra naudojami
            specialūs cianokrilato klijai, kurie yra atsparūs aplinkos
            poveikiui, todėl padeda blakstienoms išsilaikyti labai ilgą laiką.
          </p>
        </div>
      </div>

      <p>
        Kiekvienai klientei priauginimas parenkamas individualiai, atsižvelgiant
        į klientės norus, bei į natūralių blakstienų būklę. Prieš procedūrą
        visada yra išklausomi lūkesčiai, aptariama kokio rezultato klientė
        tikisi, natūralesnių ar ryškesnių blakstienų. Meistro užduotis yra
        išgauti pageidaujamą efektą taip, kad jis harmoningai derėtų su veido
        bruožais ir būtų maksimaliai saugus natūralioms blakstienoms. Taip pat
        klientėms nuolat primename, kad korekcijos metu, galime keisti tiek
        blakstienų tankumą, tiek jo ilgį, linkį ar naudojamų blakstienų storį.
        Puikiai suprantame, kad laikui bėgant, keičiantis klienčių gyvenimo
        būdui, keičiasi ir jų poreikiai, jų įvaizdis.
      </p>
    </div>
    <hr />
    <div>
      <h4 class="text-center mb-3">Kodėl verta prisiauginti blakstienas?</h4>
      <ul>
        <li>
          Sutaupysite laiko, kurį įprastai praleidžiate prie veidrodžio, bei
          turėsite išraiškingą žvilgsnį kiekvieną dieną;
        </li>
        <li>
          Nebevargins makiažo valymas po dienos darbų, nubėgęs ar nutrupėjas
          tušas, sulipintos blasktienos;
        </li>
        <li>
          Priaugintos blakstienos puikus pasirinkimas atostogų metu, kai
          nesinori kiekvieną dieną dažytis tušu, bet norisi jaustis ir atrodyti
          tobulai;
        </li>
        <li>
          Priaugintos blakstienos nejuntamos, yra atsparios vandeniui, saulei,
          su jomis galima eiti į soliariumą, baseiną;
        </li>
        <li>Procedūra pritaikoma kiekvienos individualiems poreikiams;</li>
        <li>
          Priauginti blakstienų negalima sergantiems įvairiomis akių ligomis,
          turintiems blakstienų erkučių ar miežį. Taip pat turėtumėte įspėti
          meistrę jei sergate panašiomis ligomis kaip klaustrofobiją.
          Nepamirškite, kad užsimerkusi turėsite išbūti mažiausiai 1,5 val.
        </li>
      </ul>
    </div>

    <div class="text-width">
      <h4 class="text-center mb-3">Blakstienų priauginimo korekcija</h4>
      <p>
        Blakstienos kaip ir plaukai turi augimo ciklus. Tad nereikėtų išsigąsti,
        jei pastebėjote, kad priaugintos blakstienos krenta su natūraliomis
        blakstienomis. Atminkite, blakstienos negyvena amžinai. Kiekvieno
        zmogaus kūnas, plaukų ir blakstienų augimo ciklas yra individualus.
        Norint, kad priaugintos blakstienos visuomet atrodytų tvarkingai,
        rekomenduojama korekciją daryti kas 3-4 savaites. Korekcijos metu yra
        pašalinamos nuaugusios blakstienos ir papildoma naujomis dirbtinėmis
        blakstienomis. Laiku atliktas papildymas garantuoja, kad vaizdas visada
        bus visada estetiškas ir patrauklus.
      </p>

      <p>
        Kaip dažnai atlikti priaugintų blakstienų korekciją lemia tokie
        faktoriai, kaip:
      </p>

      <ul>
        <li>Natūralių blakstienų kiekis;</li>
        <li>Blakstienų augimo ciklas;</li>
        <li>Odos tipas;</li>
        <li>Makiažo įpročiai;</li>
        <li>Darbinė aplinka;</li>
        <li>Blakstienų priežiūra;</li>
        <li>Organizmo būsena;</li>
        <li>Vartojami vaistai bei vitaminai</li>
        <li>Ligos ir kiti veiksniai.</li>
      </ul>
    </div>

    <hr />

    <div class="text-width">
      <h4 class="text-center mb-3">
        Kiek trunka blakstienų priauginimo procedūra?
      </h4>
      <p>
        Blakstienų priauginimo procedūra vidutiniškai trunka nuo 1.5 - 2 val.
        Blakstienų korekcijos procedūra/ papildymas trunka nuo 1- 1.5 val. Tai
        priklauso nuo klientės natūralių blakstienų, jų kiekio bei pasirinktos
        technikos. Tai be galo kruopšti procedūra reikalaujanti tikslumo,
        preciziškumo ir kantrybės, tadėl procedūra negali būti atliekama
        greitai. Blakstienų priauginimas atliekamas ant kosmetologinio gulto,
        gulimoje padėtyje, tad per ši laiką gausite ne tobulas blakstienas, bet
        ir poilsį. Tai gan ilga procedūra, dauguma klienčių procedūros metu net
        užmiega. Jaudintis, kad laikas prailgs tikrai nereikia, nes tai gali
        tapti puikia poilsio valandėle ir Jums!
      </p>

      <h4 class="text-center mb-3">
        Kurį blakstienų priauginimo būdą pasirinkti?
      </h4>
      <p>
        Procedūra yra pritaikoma kiekvienos individualiems poreikiams - nuo
        natūraliai atrodančio akių pagrąžinimo, iki stulbinančiai ilgų, riestų
        ir tankių blakstienų. <br />
        <br />
        Blakstienų meistrės pareiga yra įvertinti klientės natūralių blakstienų
        būklę, parinkti ir pasiūlyti tinkama priauginamą, bei tinkamiausią
        techniką asmeniškai, kad nepakenkti natūralioms blakstienoms. Taip pat
        yra atsižvelgiama akių formą, natūralių blakstienų kryptį. Išklausius
        klientės norus, išanalizavus bei aptarus esama situaciją, galima
        parinkti tinkamiausią stilizavimo, modeliavimo būdą, bei tinkamą
        dirbtinių blakstienų linkį bei ilgį.
      </p>
    </div>
    <hr />

    <div class="row">
      <h4 class="text-center mb-3">Klasikinis blakstienų priauginimas</h4>
      <div class="col-md-7">
        <p>
          Klasikinis blakstienų priauginimas- tai natūralių blakstienų
          prailginimas ir pastorinimas. Tai priauginimas, kurio metu ant vienos
          natūralios blakstienos priklijuojama viena dirbtinė blakstiena (1:1).
          Klasikiniam priauginimui naudojamos 0.10, 0.12, 0.15 mm skersmens
          blakstienos. Šio priauginimo metu galima uždėti tik tiek dirbtinių
          blakstienų, kiek yra natūralių. Klasikinio priauginimo metu galima
          priauginti nuo 80 – 150 vnt. blakstienų ant vienos akies. <br />
          Klasikinis blakstienų priauginimas leidžia džiaugtis natūraliai
          atrodančiomis blakstienomis. Šis blakstienų priauginimo būdas skirtas
          toms moterims, kurios nori natūralaus efekto, arba tarsi padažytu tušu
          blakstienų įspūdžio. Klasikinis blasktienų priauginimas labiausiai
          tinka toms, kurios turi tankias natūralias blakstienas, ir nori tik
          truputį išryškinti savo natūralų grožį. <br />
          Klijuojant po vieną blakstieną ant kiekvienos Jūs nepajusite labai
          didelio svorio, o po procedūros nejusite jokio diskomforto, tačiau
          blakstienos bus ilgesnės, ryškesnės ir atrodys tankiau. <br />
          Dažnai merginos galvoja, jog klasikinės blakstienos bus nepastebimos
          ar atrodys netvarkingai, tačiau kokybiškai atliktas darbas visada
          atrodys tvarkingai. Labai džiugu, kad natūralus akių įvaizdis tampa
          vis populiaresnis ir dauguma merginų vėl renkasi būtent tokį efektą.
        </p>
      </div>

      <div class="col-md-5 text-center mb-3">
        <img
          src="../../../assets/service-images/b-klasika-01.webp"
          alt=""
          width="350"
          height="450"
        />
      </div>
    </div>
    <hr />

    <div class="row">
      <h4 class="text-center mb-3">Hibridinis (mix) blakstienų priauginimas</h4>
      <div class="col-md-5 text-center mb-3">
        <img
          src="../../../assets/service-images/b-hibridas-01.webp"
          alt=""
          width="350"
          height="450"
        />
      </div>
      <div class="col-md-7">
        <p>
          Hibridinis blakstienų priauginimas - tai priauginimas, kurio metu
          naudojamos dvi technikos, t.y. klasikinis ir volume blakstienų
          priauginimas. Tokio priauginimo metu sukuriamas natūralus efektas,
          tačiau nepaliekami akivaizdūs tarpeliai tarp blakstienų. <br />
          Kombinuotas blakstienų priauginimas leidžia sukurti šiek tiek tankesnį
          efektą nei klasikinis blakstienų priauginimas. Priauginimo metu volume
          blakstienų kuokšteliai suteikia tankumo, o klasikinės blakstienos
          prideda tekstūros. <br />
          Šis priauginimas rekomenduojamas moterims, kurios nori truputį
          tankesnio priauginimo nei klasikinio, bet ne per tankaus kaip volume.
          Hibridinio priauginimo metu sukuriamas natūralus, purus efektas, kuris
          neapsunkina natūralių blakstienų, bei žvilgsnio.
        </p>
      </div>
    </div>
    <hr />

    <div class="row">
      <h4 class="text-center mb-3">Volume blakstienų priauginimas</h4>
      <div class="col-md-7">
        <p>
          Volume blakstienų priauginimas - tai natūralių blakstienų
          patankinimas, kurio metu ant vienos natūralios blakstienos klijuojama
          ne viena dirbtinė blakstiena, bet itin plonų blakstienų kuokštelis
          (2D-6D). <br />
          Volume blakstienos yra labai plonos, todėl neverta jaudintis, kad bus
          sunkios. Ši priauginimo technika taip pat dar vadinama 2D, 3D, 4D, 5D,
          6D, skaičius nurodo dirbtinių blakstienų skaičių kuokštelyje, bei kiek
          padidės blakstienų apimtis. Blakstienų kuokštelio dydis priklauso nuo
          pageidaujamo efekto ir blakstienų ryškumo. Volume blakstienų
          priauginimui naudojamos 0.05, 0.07, 0.10 mm skersmens blakstienos.
          <br />
          Specialia technika pincetų pagalba formuojant blakstienų kuokštelius
          galima išgauti tankių, lengvų ir purių blakstienų efektą.Volume
          blakstienų priauginimo būdu blakstienas galima paryškinti, pailginti,
          patankinti, bei akims suteikti švelnų žvilgsnį. Volume priauginimo
          metu galima priauginti iki 600 vnt.blakstienų ant akies.
          <br />
          Volume blakstienų priauginimas rekomenduojamas norinčioms
          išraiškingesnio efekto, bei norint padidinti blakstienų apimtį. Taip
          pat rekomenduojamas toms, kurių natūralios blakstienos yra pakankamai
          retos ar plonos. Neretai klientės baiminasi, kad „Volume“ technika
          skirta tik toms, kurios nori labai tankių ir ryškių blakstienų. Tačiau
          volume technika galima išgauti nuo natūralaus puraus iki labai
          ryškaus, tankaus efekto.
        </p>
      </div>

      <div class="col-md-5 text-center mb-3">
        <img
          src="../../../assets/service-images/b-volume-01.webp"
          alt=""
          width="350"
          height="450"
        />
      </div>
    </div>
    <hr />

    <div class="row">
      <h4 class="text-center mb-3">
        Mega volume (super volume) blakstienų priauginimas
      </h4>
      <div class="col-md-5 text-center mb-3">
        <img
          src="../../../assets/service-images/b-mega-01.webp"
          alt=""
          width="350"
          height="450"
        />
      </div>
      <div class="col-md-7">
        <p>
          Mega volume blakstienų priauginimas - tai itin tankus ir ryškus
          blakstienų patankinimas, kurio metu ant vienos natūralios blakstienos
          klijuojamas itin plonų blakstienų kuokštelis (7D ir daugiau). Mega
          volume blakstienų priauginimui naudojamos itin plonos 0.03-0.05 mm
          skersmens blakstienas. <br />
          Mega volume technika ¬- tai ypač tankus blakstienų priauginimas
          norinčioms išskirtinio ryškumo ir juodumo blakstienų. Deja šis
          priauginimas dėl per didelio svorio rekomenduojamas rečiau, tik turint
          ypač stiprias blakstienas, arba esant progai, šventėms.
          <br />
        </p>
      </div>
    </div>
    <hr />

    <div class="row">
      <h4 class="text-center mb-3">
        Kim Kardashian (Kim K) blakstienų priauginimas
      </h4>
      <div class="col-md-7">
        <p>
          Kim Kardashian blakstienų priauginimas - tai hibridinis klasikos ir
          volume technikų sujungimas į vieną, išgaunant dramatiško, išskirtinio
          žvilgsnio efektą. <br />
          Klasikinės ar volume neišskeistos blakstienos yra naudojamos ilgesnės
          tam, kad būtų išgautas netolygus ilgis, arba kitaip vadinami
          spygliukai. Kim Kardashian pagrindui sukurti yra naudojama trumpesnių
          blakstienų volume technika su atitinkama kuokštelių geometrija. <br />
          Kim Kardashian blakstienų priauginimo tampa vis populiaresnis tarp
          merginų, kurios nori išsiskirti iš minios savo paslaptingu žvilgsniu,
          tačiau nenori apsunkinti savo akių.Šis priauginimas atrodo
          patraukliausiai, kai pasirenkamas vidutinis tankumas. Kim priauginimas
          leidžia sukurti netvarkingo priauginimo įspūdį, tačiau tai nėra bet
          koks netvarkingas priauginimas, tai stilizuotas priauginimas, kuris
          reikalauja dar kruopštesnio darbo nei įprastas priauginimas. <br />
          Kim Kardashian priauginimas yra rekomenduojamas klientėms, kurios nori
          išbandyti kitokį priauginimą nei įprastai, mėgsta ilgesnes
          blasktienas, ar kai nusibodo vientisa tolygi blakstienų priauginimo
          linija.
        </p>
      </div>
      <div class="col-md-5 text-center mb-3">
        <img
          src="../../../assets/service-images/b-kim-01.webp"
          alt=""
          width="350"
          height="450"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <h4 class="text-center mb-3">Baby lashes blakstienų priauginimas</h4>
      <div class="col-md-5 text-center mb-3">
        <img
          src="../../../assets/service-images/b-baby-01.webp"
          alt=""
          width="350"
          height="450"
        />
      </div>
      <div class="col-md-7">
        <p>
          Baby lashes blakstienų priauginimas – tai ypač natūralus blakstienų
          priauginimas, kuris atliekamas su klasikinėmis itin plonomis
          blakstienomis, o blakstienų linija paliekama netolygi. <br />
          Šis blakstienų priauginimo būdas rekomenduojamas toms, kurios nori
          natūralaus efekto, lengvo ir gaiviai atrodančiu žvilgsnio. Baby lashes
          blakstienų priauginimo technika skiriasi nuo kitų tuom, jog su šia
          technika galima išgauti itin natūralų efekta, kuris tiesiog
          neapsunkina akių, o galutiniame rezulatate blakstienos atrodo tarsi
          padažytu tušu.
        </p>
      </div>
    </div>
    <hr />

    <h4 class="text-center mb-3">
      Wet lashes ( šlapių blakstienų) priauginimas
    </h4>
    <div class="row">
      <div class="col-md-7">
        <p>
          “Wet lahes” blakstienų priauginimas – tai natūralus volume blakstienų
          priauginimas, kuriame naudojami volume neišskelisti /siauri beveik
          neišskleisti kuokšteliai, arba jie miksuojami su išskleistais
          kuokšteliais. Kuokšteliai yra minkštesni ir lankstesni nei klasikinių
          blakstienų, tad lengviau apgaubiantys natūralią blakstieną. Šlapių
          blakstienų efektas suteikia išraiškingesnį žvilgsnį bei stilingą
          įvaizdį. Šio priauginimo metu blakstienos įgauna papildomos apimties,
          neapsunkindamos ir atrodydamos natūraliai.
          <br />
          Wet lashes blakstienų priauginimas rekomenduojamas visoms, kurios
          mėgsta ryškiau, bet natūraliai, nori lyg padažytų tušu ar sulipintų
          blakstienų įvaizdžio
        </p>
      </div>
      <div class="col-md-5 text-center mb-3">
        <img
          src="../../../assets/service-images/b-wet-01.webp"
          alt=""
          width="350"
          height="450"
        />
      </div>
    </div>
    <hr />
    <div class="text-width">
      <h4 class="text-center mb-3">
        Ar galima nuolat prisiauginti blakstienas, o gal būtina tarp procedūrų
        padaryti pertraukas?
      </h4>
      <p>
        Kaip šios srities specialistė galiu pasakyti, kad pertraukas daryti
        tikrai rekomenduojama. Kaip dažnai daryti pertraukas ir leisti akims
        poilsėti lemia genetika, pasirinkta blasktienų technika, blakstienų
        augimo ciklas, priežiūra namuose, organizmo būsena, vartojami vaistai,
        vitaminai, ligos ir kiti veiksniai.
      </p>
      <h4 class="text-center mb-3">
        Kaip reikia pasiruošti blakstienų priauginimo procedūrai?
      </h4>
      <ul>
        <li>
          Į procedūrą atvykti švariomis akimis bei blakstienomis , nes tai turi
          įtakos priaugintų blakstienų išnešiojimui;
        </li>
        <li>
          Jokiu budu neatvykti pasidažius blakstienų tušu ar šešėliais, nes
          procedūros laikas yra skirtas tik blakstienų priauginimui, o ne
          makiažo valymui;
        </li>
        <li>
          Jei nešiojate kontaktinius lęšius, rekomenduojama prieš procedūrą juos
          išsiimti;
        </li>
        <li>
          Jei naudojate blakstienų augimą skatinantį serumo, jo tepimą
          nutraukite likus 2 dienoms iki procedūros;
        </li>
        <li>
          Blakstienų priauginimą rekomenduojama darytis praėjus ne anksčiau nei
          4 savaičių po blakstienų laminavimo;
        </li>
        <li>
          Neskubinti meistrės atlikti procedūrą, nes tai be galo kruopšti
          procedūra reikalaujanti tikslumo, preciziškumo ir kantrybės;
        </li>
        <li>
          Vidutiniškai priauginimas trunka nuo 1.5 -2val. Tai priklausomai nuo
          Jūsų naturalių blakstienų, jų kiekio,bei ir pasirinkto priauginimo.
        </li>
      </ul>
    </div>
  </div>
</div>
